[submodule "threejs/physics-animation/refactoring"]
	path = threejs/physics-animation/refactoring
	url = git@github.com:jungbin-kim/web-physics-animation-re.git
[submodule "WebRTC/example1"]
	path = WebRTC/example1
	url = git@github.com:jungbin-kim/webrtc-example.git
[submodule "Worker/web-worker-example1"]
	path = Worker/web-worker-example1
	url = git@github.com:jungbin-kim/simple-web-worker.git
[submodule "Bundler/example-parcel"]
	path = Bundler/example-parcel
	url = https://github.com/jungbin-kim/parcel-test
[submodule "Vue"]
	path = Vue
	url = git@github.com:jungbin-kim/Vue.git
